.item {
    width: 180px;
    display: inline-block;
}

.gray {
    background-color: #eee;
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;

    &.footer {
        align-items: center;
    }

    .add {
        width: 140px;
    }

    .btn {
        height: 50px;
    }
}

